<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Thêm sản phẩm</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css}">
    <link
            rel="stylesheet"
            th:href="@{https://cdn.jsdelivr.net/npm/admin-lte@3.1/dist/css/adminlte.min.css}"
    />
    <script th:src="@{https://cdn.jsdelivr.net/npm/admin-lte@3.1/dist/js/adminlte.min.js}"></script>
    <style>
        .error {
            color: red;
        }
    </style>
</head>
<body>
<div style="margin-top: 50px;">
    <section class="content" style="width: 800px; margin: auto;">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Thêm sản phẩm</h3>
                    </div>
                    <div class="card-body">
                        <form th:action="@{/home/addCategory}" method="post" th:object="${category}">
                            <div class="form-group">
                                <label for="inputName">Tên sản phẩm</label>
                                <input type="text" id="inputName" class="form-control" th:field="*{category}"/>
                                <p th:if="${#fields.hasErrors('category')}" th:errorclass="error" th:errors="*{category}" />
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <a th:href="@{/home}" class="btn btn-secondary">Quay lại</a>
                                    <input
                                            type="submit"
                                            value="Thêm sản phẩm"
                                            class="btn btn-success float-right"
                                    />
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
        </div>
    </section>
</div>
</body>
</html>